@tailwind base;

a {
  @apply text-blue-700;
}

@tailwind components;

@tailwind utilities;


.content ul {
  @apply my-6;
}


.border-mask {
	padding: 60px;
	background: white;
	mask: url(/assets/images/stroke.svg);
	mask-size: 100% 100%;
	mask-position: center;
}